@charset "UTF-8";
/* 背景色 */
body{
	background-color: #ffffff;
}

/* ヘッダー */
#header{
    background-color: #ccc;
    display: flex;
    justify-content:space-between;
    padding: 10px;
}
#header > h1{
	width:80%;
    height:50px;
    font-size: 30px;
    text-align: center;
	margin:0;
	align-items:center;
}
#header > a{
	width:20%;
	height:30px;
    font-size: 20px;
	text-align:center;
	/* background:#ccc; */
    align-items:center;
	border:2px solid #333;
	text-decoration:none;
}

/* コンテナー全体 */
#container{
width:100%;
height:100vh;
margin:0;
/* font-family: "M PLUS Rounded 1c"; */
padding:0;
}

/* フォーマット */
#form{
    background-color: #f3f3f3;
}
label{
    width: 85%;
}
input{
    width: 5%;
}

#title{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
}
#title > label{
    width: 75%;
}
#title > input{
    width: 220px;
}

#type{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
}
#type > label{
    width: 75%;
}
#type > select{
    width: 230px;
}

#color{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
}
#color > label{
    width: 85%;
}
#color > input{
    width: 5%;
}

#all_day{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
}
#all_day > label{
    width: 85%;
}
#all_day > input{
    width: 5%;
}

#start_day{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
}
#start_day > label{
    width: 85%;
}
#start_day > input{
    width: 5%;
}

#goal_day{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
}
#goal_day > label{
    width: 85%;
}
#goal_day > input{
    width: 5%;
}

#repeat{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
}
#repeat > label{
    width: 85%;
}
#repeat > input{
    width: 5%;
}

#add_table{
    display: flex;
    height: 50px;
    align-items: center;
    border: 1px solid #333;
}
#repeat > label{
    width: 85%;
}
#repeat > button{
    width: 5%;
}

/* 詳細ページ拡張 */
.card-header{
    font-size: 1rem;
    text-align: center;
}
.card{
    border: 1px solid #ccc;
    width: 100%;
}
.card-content{
    width: 100%;
    height: 300px;
}
.card-content > .content{
    width: 100%;
    height: 290px;
    background-color:aquamarine
}
.text_table{
    text-align: center;
}
.text_table > input{
    width: 90%;
    height: 280px;
}