@charset "UTF-8";
/* 背景色 */
body{
	background-color: #ffffff;
}

/* ヘッダー */
#header{
    background-color: #ccc;
    display: flex;
    justify-content:space-between;
    padding: px;
}
#header > h1{
	width:80%;
    height:50px;
    font-size: 30px;
    text-align: center;
	margin:0;
	align-items:center;
}
#header > a{
	width:80px;
	height:40px;
    font-size: 30px;
	text-align:center;
    align-items:center;
	text-decoration:none;
}

/* コンテナー全体 */
#container{
width:100%;
height:100vh;
margin:0;
/* font-family: "M PLUS Rounded 1c"; */
padding:0;
}

/* カレンダー */
#calendar{
    width:100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
#calendar td,th{
    border:2px solid #ccc;
    text-align: center;
    font-size:20px;
    padding: 0;
}
#calendar th{
    color:#333;
    background-color:#f3f3f3;
}
input{
	width: 100%;
    height: 50px;
}
input > #calendar tr *:first-child{
    background-color:#ff69b4;
}
input > #calendar tr *:last-child{
    background-color:#0ba9ea;
}

/*  */
#text-table{
    width:100%;
    margin:20px auto 0;
    border-collapse: collapse;
    border-spacing: 0;
}
#text-table td,th{
border:2px solid #333;
text-align: center;
background-color:#ffffff;
font-size:20px;
padding:5px 0;
}
#text-table .title{
    width: 25%;
}
#text-table .text{
    width: 75%;
}
td.today{
	background: #39C5BB;
}
.tab-switch {
    --active-tab-color: #333;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 30px auto;
    justify-content: center;
    gap: 10px 5px;
}
/* 各タブボタンのスタイル設定 */
.tab-switch > label {
    flex: 1 1 auto;
    order: -1;
    position: relative;
    padding: .7em 1em;
    border-bottom:1px solid var(--active-tab-color);
    color: var(--active-tab-color);
    text-align: center;
    cursor: pointer;
    transition:.3s all;
}

/* タブのホバーおよび選択時の色 */
.tab-switch > label:hover,
.tab-switch label:has(:checked) {
    background-color: var(--active-tab-color);
    color: #fff;
}

/* 選択されたタブの下に表示される三角形のスタイル */
.tab-switch label:has(:checked)::before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 9px;
    background-color: var(--active-tab-color);
    content: '';
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

/* ラジオボタンの非表示設定 */
.tab-switch input {
    display: none;
}

/* タブのコンテンツエリアの設定 */
.tab-switch > div {
    display: none;
    width: 100%;
    padding: 1rem 1rem;
}

/* 選択されたタブに対応するコンテンツを表示 */
.tab-switch label:has(:checked) + div {
    display: block;
}
.tab-content{
    background-color: #ccc;
}
.content{
    background-color: #ccc;
}
.container{
    align-items: center;
}
#footer{
    background-color: #ccc;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    text-align:center;
    align-items:center;

}
#footer > h3{
	width:90%;
    height:50px;
    font-size: 30px;
    text-align: center;
    background:#fefefe;
	margin:0;
	align-items:center;
    border:2px solid #333;
}

#footer > a{
	width:50px;
	height:50px;
    font-size: 30px;
	text-align:center;
	background:#fefefe;
    align-items:center;
	border:2px solid #333;
    border-radius: 50%;
	text-decoration:none;
}